/.vs/
/WebMvc/WebMvc.Web/obj
/WebMvc/WebMvc.Web/bin
/WebMvc/WebMvc.Utilities/obj
/WebMvc/WebMvc.Utilities/bin
/WebMvc/WebMvc.Services/obj
/WebMvc/WebMvc.Services/bin
/WebMvc/WebMvc.IOC/obj
/WebMvc/WebMvc.IOC/bin
/WebMvc/WebMvc.Domain/obj
/WebMvc/WebMvc.Domain/bin
/.vs/*
/WebMvc/WebMvc.Web/App_Data/cache/*
/WebMvc/WebMvc.Web/obj/*
/WebMvc/WebMvc.Web/bin/*
/WebMvc/WebMvc.Utilities/obj/*
/WebMvc/WebMvc.Utilities/bin/*
/WebMvc/WebMvc.Services/obj/*
/WebMvc/WebMvc.Services/bin/*
/WebMvc/WebMvc.IOC/obj/*
/WebMvc/WebMvc.IOC/bin/*
/WebMvc/WebMvc.Domain/obj/*
/WebMvc/WebMvc.Domain/bin/*
/WebMvc.Domain/bin/Debug/AntiXssLibrary.dll
/WebMvc.Domain/bin/Debug/AntiXssLibrary.xml
/WebMvc.Domain/bin/Debug/HtmlAgilityPack.dll
/WebMvc.Domain/bin/Debug/HtmlAgilityPack.pdb
/WebMvc.Domain/bin/Debug/HtmlAgilityPack.xml
/WebMvc.Domain/bin/Debug/HtmlSanitizationLibrary.dll
/WebMvc.Domain/bin/Debug/HtmlSanitizationLibrary.xml
/WebMvc.Domain/bin/Debug/Microsoft.Web.Infrastructure.dll
/WebMvc.Domain/bin/Debug/Newtonsoft.Json.dll
/WebMvc.Domain/bin/Debug/Newtonsoft.Json.xml
/WebMvc.Domain/bin/Debug/System.Net.Http.Formatting.dll
/WebMvc.Domain/bin/Debug/System.Net.Http.Formatting.xml
/WebMvc.Domain/bin/Debug/System.Web.Helpers.dll
/WebMvc.Domain/bin/Debug/System.Web.Helpers.xml
/WebMvc.Domain/bin/Debug/System.Web.Http.dll
/WebMvc.Domain/bin/Debug/System.Web.Http.xml
/WebMvc.Domain/bin/Debug/System.Web.Mvc.dll
/WebMvc.Domain/bin/Debug/System.Web.Mvc.xml
/WebMvc.Domain/bin/Debug/System.Web.Razor.dll
/WebMvc.Domain/bin/Debug/System.Web.Razor.xml
/WebMvc.Domain/bin/Debug/System.Web.WebPages.Deployment.dll
/WebMvc.Domain/bin/Debug/System.Web.WebPages.Deployment.xml
/WebMvc.Domain/bin/Debug/System.Web.WebPages.Razor.dll
/WebMvc.Domain/bin/Debug/System.Web.WebPages.Razor.xml
/WebMvc.Domain/bin/Debug/System.Web.WebPages.dll
/WebMvc.Domain/bin/Debug/System.Web.WebPages.xml
/WebMvc.Domain/bin/Debug/WebMvc.Domain.dll
/WebMvc.Domain/bin/Debug/WebMvc.Domain.pdb
/WebMvc.Domain/bin/Debug/WebMvc.Utilities.dll
/WebMvc.Domain/bin/Debug/WebMvc.Utilities.pdb
/WebMvc.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebMvc.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebMvc.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebMvc.Domain/obj/Debug/WebMvc.Domain.csproj.CopyComplete
/WebMvc.Domain/obj/Debug/WebMvc.Domain.csproj.CoreCompileInputs.cache
/WebMvc.Domain/obj/Debug/WebMvc.Domain.csproj.FileListAbsolute.txt
/WebMvc.Domain/obj/Debug/WebMvc.Domain.csprojAssemblyReference.cache
/WebMvc.Domain/obj/Debug/WebMvc.Domain.dll
/WebMvc.Domain/obj/Debug/WebMvc.Domain.pdb
/WebMvc.IOC/bin/Debug/AntiXssLibrary.dll
/WebMvc.IOC/bin/Debug/AntiXssLibrary.xml
/WebMvc.IOC/bin/Debug/Common.Logging.Core.dll
/WebMvc.IOC/bin/Debug/Common.Logging.Core.pdb
/WebMvc.IOC/bin/Debug/Common.Logging.Core.xml
/WebMvc.IOC/bin/Debug/Common.Logging.dll
/WebMvc.IOC/bin/Debug/Common.Logging.pdb
/WebMvc.IOC/bin/Debug/Common.Logging.xml
/WebMvc.IOC/bin/Debug/HtmlAgilityPack.dll
/WebMvc.IOC/bin/Debug/HtmlAgilityPack.pdb
/WebMvc.IOC/bin/Debug/HtmlAgilityPack.xml
/WebMvc.IOC/bin/Debug/HtmlSanitizationLibrary.dll
/WebMvc.IOC/bin/Debug/HtmlSanitizationLibrary.xml
/WebMvc.IOC/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/WebMvc.IOC/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/WebMvc.IOC/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/WebMvc.IOC/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/WebMvc.IOC/bin/Debug/Microsoft.Practices.Unity.Configuration.xml
/WebMvc.IOC/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.dll
/WebMvc.IOC/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.xml
/WebMvc.IOC/bin/Debug/Microsoft.Practices.Unity.dll
/WebMvc.IOC/bin/Debug/Microsoft.Practices.Unity.xml
/WebMvc.IOC/bin/Debug/Microsoft.Web.Infrastructure.dll
/WebMvc.IOC/bin/Debug/Quartz.dll
/WebMvc.IOC/bin/Debug/Quartz.pdb
/WebMvc.IOC/bin/Debug/Quartz.xml
/WebMvc.IOC/bin/Debug/System.Web.Helpers.dll
/WebMvc.IOC/bin/Debug/System.Web.Helpers.xml
/WebMvc.IOC/bin/Debug/System.Web.Mvc.dll
/WebMvc.IOC/bin/Debug/System.Web.Mvc.xml
/WebMvc.IOC/bin/Debug/System.Web.Razor.dll
/WebMvc.IOC/bin/Debug/System.Web.Razor.xml
/WebMvc.IOC/bin/Debug/System.Web.WebPages.Deployment.dll
/WebMvc.IOC/bin/Debug/System.Web.WebPages.Deployment.xml
/WebMvc.IOC/bin/Debug/System.Web.WebPages.Razor.dll
/WebMvc.IOC/bin/Debug/System.Web.WebPages.Razor.xml
/WebMvc.IOC/bin/Debug/System.Web.WebPages.dll
/WebMvc.IOC/bin/Debug/System.Web.WebPages.xml
/WebMvc.IOC/bin/Debug/WebMvc.Domain.dll
/WebMvc.IOC/bin/Debug/WebMvc.Domain.pdb
/WebMvc.IOC/bin/Debug/WebMvc.IOC.dll
/WebMvc.IOC/bin/Debug/WebMvc.IOC.dll.config
/WebMvc.IOC/bin/Debug/WebMvc.IOC.pdb
/WebMvc.IOC/bin/Debug/WebMvc.Services.dll
/WebMvc.IOC/bin/Debug/WebMvc.Services.pdb
/WebMvc.IOC/bin/Debug/WebMvc.Utilities.dll
/WebMvc.IOC/bin/Debug/WebMvc.Utilities.pdb
/WebMvc.IOC/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebMvc.IOC/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebMvc.IOC/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebMvc.IOC/obj/Debug/WebMvc.IOC.csproj.CopyComplete
/WebMvc.IOC/obj/Debug/WebMvc.IOC.csproj.CoreCompileInputs.cache
/WebMvc.IOC/obj/Debug/WebMvc.IOC.csproj.FileListAbsolute.txt
/WebMvc.IOC/obj/Debug/WebMvc.IOC.csprojAssemblyReference.cache
/WebMvc.IOC/obj/Debug/WebMvc.IOC.dll
/WebMvc.IOC/obj/Debug/WebMvc.IOC.pdb
/WebMvc.Services/bin/Debug/AntiXssLibrary.dll
/WebMvc.Services/bin/Debug/AntiXssLibrary.xml
/WebMvc.Services/bin/Debug/HtmlAgilityPack.dll
/WebMvc.Services/bin/Debug/HtmlAgilityPack.pdb
/WebMvc.Services/bin/Debug/HtmlAgilityPack.xml
/WebMvc.Services/bin/Debug/HtmlSanitizationLibrary.dll
/WebMvc.Services/bin/Debug/HtmlSanitizationLibrary.xml
/WebMvc.Services/bin/Debug/Microsoft.Web.Infrastructure.dll
/WebMvc.Services/bin/Debug/System.Web.Helpers.dll
/WebMvc.Services/bin/Debug/System.Web.Helpers.xml
/WebMvc.Services/bin/Debug/System.Web.Mvc.dll
/WebMvc.Services/bin/Debug/System.Web.Mvc.xml
/WebMvc.Services/bin/Debug/System.Web.Razor.dll
/WebMvc.Services/bin/Debug/System.Web.Razor.xml
/WebMvc.Services/bin/Debug/System.Web.WebPages.Deployment.dll
/WebMvc.Services/bin/Debug/System.Web.WebPages.Deployment.xml
/WebMvc.Services/bin/Debug/System.Web.WebPages.Razor.dll
/WebMvc.Services/bin/Debug/System.Web.WebPages.Razor.xml
/WebMvc.Services/bin/Debug/System.Web.WebPages.dll
/WebMvc.Services/bin/Debug/System.Web.WebPages.xml
/WebMvc.Services/bin/Debug/WebMvc.Domain.dll
/WebMvc.Services/bin/Debug/WebMvc.Domain.pdb
/WebMvc.Services/bin/Debug/WebMvc.Services.dll
/WebMvc.Services/bin/Debug/WebMvc.Services.pdb
/WebMvc.Services/bin/Debug/WebMvc.Utilities.dll
/WebMvc.Services/bin/Debug/WebMvc.Utilities.pdb
/WebMvc.Services/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebMvc.Services/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebMvc.Services/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebMvc.Services/obj/Debug/WebMvc.Services.csproj.CopyComplete
/WebMvc.Services/obj/Debug/WebMvc.Services.csproj.CoreCompileInputs.cache
/WebMvc.Services/obj/Debug/WebMvc.Services.csproj.FileListAbsolute.txt
/WebMvc.Services/obj/Debug/WebMvc.Services.csprojAssemblyReference.cache
/WebMvc.Services/obj/Debug/WebMvc.Services.dll
/WebMvc.Services/obj/Debug/WebMvc.Services.pdb
/WebMvc.Utilities/bin/Debug/AntiXssLibrary.dll
/WebMvc.Utilities/bin/Debug/AntiXssLibrary.xml
/WebMvc.Utilities/bin/Debug/HtmlAgilityPack.dll
/WebMvc.Utilities/bin/Debug/HtmlAgilityPack.pdb
/WebMvc.Utilities/bin/Debug/HtmlAgilityPack.xml
/WebMvc.Utilities/bin/Debug/HtmlSanitizationLibrary.dll
/WebMvc.Utilities/bin/Debug/HtmlSanitizationLibrary.xml
/WebMvc.Utilities/bin/Debug/Newtonsoft.Json.dll
/WebMvc.Utilities/bin/Debug/Newtonsoft.Json.xml
/WebMvc.Utilities/bin/Debug/System.Net.Http.Formatting.dll
/WebMvc.Utilities/bin/Debug/System.Net.Http.Formatting.xml
/WebMvc.Utilities/bin/Debug/System.Web.Http.dll
/WebMvc.Utilities/bin/Debug/System.Web.Http.xml
/WebMvc.Utilities/bin/Debug/WebMvc.Utilities.dll
/WebMvc.Utilities/bin/Debug/WebMvc.Utilities.pdb
/WebMvc.Utilities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebMvc.Utilities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebMvc.Utilities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebMvc.Utilities/obj/Debug/WebMvc.Utilities.csproj.CopyComplete
/WebMvc.Utilities/obj/Debug/WebMvc.Utilities.csproj.CoreCompileInputs.cache
/WebMvc.Utilities/obj/Debug/WebMvc.Utilities.csproj.FileListAbsolute.txt
/WebMvc.Utilities/obj/Debug/WebMvc.Utilities.csprojAssemblyReference.cache
/WebMvc.Utilities/obj/Debug/WebMvc.Utilities.dll
/WebMvc.Utilities/obj/Debug/WebMvc.Utilities.pdb
/WebMvc.Web/bin/AjaxMin.dll
/WebMvc.Web/bin/AntiXssLibrary.dll
/WebMvc.Web/bin/AntiXssLibrary.xml
/WebMvc.Web/bin/Antlr3.Runtime.dll
/WebMvc.Web/bin/Antlr3.Runtime.pdb
/WebMvc.Web/bin/Common.Logging.Core.dll
/WebMvc.Web/bin/Common.Logging.Core.pdb
/WebMvc.Web/bin/Common.Logging.Core.xml
/WebMvc.Web/bin/Common.Logging.dll
/WebMvc.Web/bin/Common.Logging.pdb
/WebMvc.Web/bin/Common.Logging.xml
/WebMvc.Web/bin/EcmaScript.NET.dll
/WebMvc.Web/bin/HtmlAgilityPack.dll
/WebMvc.Web/bin/HtmlAgilityPack.pdb
/WebMvc.Web/bin/HtmlAgilityPack.xml
/WebMvc.Web/bin/HtmlSanitizationLibrary.dll
/WebMvc.Web/bin/HtmlSanitizationLibrary.xml
/WebMvc.Web/bin/ImageProcessor.Web.dll
/WebMvc.Web/bin/ImageProcessor.dll
/WebMvc.Web/bin/Microsoft.AI.Agent.Intercept.dll
/WebMvc.Web/bin/Microsoft.AI.DependencyCollector.dll
/WebMvc.Web/bin/Microsoft.AI.DependencyCollector.xml
/WebMvc.Web/bin/Microsoft.AI.PerfCounterCollector.dll
/WebMvc.Web/bin/Microsoft.AI.ServerTelemetryChannel.dll
/WebMvc.Web/bin/Microsoft.AI.ServerTelemetryChannel.xml
/WebMvc.Web/bin/Microsoft.AI.Web.dll
/WebMvc.Web/bin/Microsoft.AI.Web.xml
/WebMvc.Web/bin/Microsoft.AI.WindowsServer.dll
/WebMvc.Web/bin/Microsoft.AI.WindowsServer.xml
/WebMvc.Web/bin/Microsoft.ApplicationInsights.dll
/WebMvc.Web/bin/Microsoft.ApplicationInsights.xml
/WebMvc.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/WebMvc.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/WebMvc.Web/bin/Microsoft.Practices.ServiceLocation.dll
/WebMvc.Web/bin/Microsoft.Practices.ServiceLocation.pdb
/WebMvc.Web/bin/Microsoft.Practices.ServiceLocation.xml
/WebMvc.Web/bin/Microsoft.Practices.Unity.Configuration.dll
/WebMvc.Web/bin/Microsoft.Practices.Unity.Configuration.xml
/WebMvc.Web/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
/WebMvc.Web/bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
/WebMvc.Web/bin/Microsoft.Practices.Unity.dll
/WebMvc.Web/bin/Microsoft.Practices.Unity.xml
/WebMvc.Web/bin/Microsoft.Web.Infrastructure.dll
/WebMvc.Web/bin/Newtonsoft.Json.dll
/WebMvc.Web/bin/Newtonsoft.Json.xml
/WebMvc.Web/bin/Quartz.dll
/WebMvc.Web/bin/Quartz.pdb
/WebMvc.Web/bin/Quartz.xml
/WebMvc.Web/bin/SquishIt.AspNet.dll
/WebMvc.Web/bin/SquishIt.AspNet.pdb
/WebMvc.Web/bin/SquishIt.AspNet.xml
/WebMvc.Web/bin/SquishIt.Framework.dll
/WebMvc.Web/bin/SquishIt.Framework.pdb
/WebMvc.Web/bin/SquishIt.Framework.xml
/WebMvc.Web/bin/SquishIt.Mvc.dll
/WebMvc.Web/bin/SquishIt.Mvc.pdb
/WebMvc.Web/bin/System.Net.Http.Formatting.dll
/WebMvc.Web/bin/System.Net.Http.Formatting.xml
/WebMvc.Web/bin/System.Web.Helpers.dll
/WebMvc.Web/bin/System.Web.Helpers.xml
/WebMvc.Web/bin/System.Web.Http.WebHost.dll
/WebMvc.Web/bin/System.Web.Http.WebHost.xml
/WebMvc.Web/bin/System.Web.Http.dll
/WebMvc.Web/bin/System.Web.Http.xml
/WebMvc.Web/bin/System.Web.Mvc.dll
/WebMvc.Web/bin/System.Web.Mvc.xml
/WebMvc.Web/bin/System.Web.Optimization.dll
/WebMvc.Web/bin/System.Web.Optimization.xml
/WebMvc.Web/bin/System.Web.Razor.dll
/WebMvc.Web/bin/System.Web.Razor.xml
/WebMvc.Web/bin/System.Web.WebPages.Deployment.dll
/WebMvc.Web/bin/System.Web.WebPages.Deployment.xml
/WebMvc.Web/bin/System.Web.WebPages.Razor.dll
/WebMvc.Web/bin/System.Web.WebPages.Razor.xml
/WebMvc.Web/bin/System.Web.WebPages.dll
/WebMvc.Web/bin/System.Web.WebPages.xml
/WebMvc.Web/bin/WebActivatorEx.dll
/WebMvc.Web/bin/WebGrease.dll
/WebMvc.Web/bin/WebMvc.Domain.dll
/WebMvc.Web/bin/WebMvc.Domain.pdb
/WebMvc.Web/bin/WebMvc.IOC.dll
/WebMvc.Web/bin/WebMvc.IOC.dll.config
/WebMvc.Web/bin/WebMvc.IOC.pdb
/WebMvc.Web/bin/WebMvc.Services.dll
/WebMvc.Web/bin/WebMvc.Services.pdb
/WebMvc.Web/bin/WebMvc.Utilities.dll
/WebMvc.Web/bin/WebMvc.Utilities.pdb
/WebMvc.Web/bin/WebMvc.Web.dll
/WebMvc.Web/bin/WebMvc.Web.dll.config
/WebMvc.Web/bin/WebMvc.Web.pdb
/WebMvc.Web/bin/Yahoo.Yui.Compressor.dll
/WebMvc.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebMvc.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebMvc.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebMvc.Web/obj/Debug/WebMvc.Web.csproj.CopyComplete
/WebMvc.Web/obj/Debug/WebMvc.Web.csproj.CoreCompileInputs.cache
/WebMvc.Web/obj/Debug/WebMvc.Web.csproj.FileListAbsolute.txt
/WebMvc.Web/obj/Debug/WebMvc.Web.csprojAssemblyReference.cache
/WebMvc.Web/obj/Debug/WebMvc.Web.dll
/WebMvc.Web/obj/Debug/WebMvc.Web.pdb
/WebMvc.Web/App_Data/LogFile_????????_??????.txt
/WebMvc.Web/App_Data/cache