@model WebMvc.Domain.DomainModel.Entities.Category
<div class="clear space2"></div>
<div class="title_box_center">
    <h2 class="h_title cufon" style="font-size:22px !important;">@Model.Name</h2>
    <a href="/tin-khuyen-mai/" class="view_cate_news">Xem tất cả <span>»</span></a>
</div>
<div class="space2"></div>
<div class="top_news_on_page">


    <div class="first">
        <a href="/khuyen-mai-cuc-da-chao-he-ron-ra/">
            <img src="/media/news/57_chuong_trinh___gigabyte___intel___to_roi____bai_viet_fb___chung_01.jpg" alt="KHUYẾN MẠI CỰC ĐÃ - CHÀO HÈ RỘN RÃ">
        </a>
        <span class="container">
            <a href="/khuyen-mai-cuc-da-chao-he-ron-ra/" class="name">KHUYẾN MẠI CỰC ĐÃ - CHÀO HÈ RỘN RÃ</a>
            <span class="view">12-04-2018, 11:28 am - Lượt xem: 103</span>
            <span class="summary"></span>
        </span>
    </div>


    <ul class="ul"></ul>
</div><!--top-->
